<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/workbench/general/sleep32.png"
            visible="true">
         <run
               class="com.amenity.workbench.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.amenity.workbench.Perspective"
            fixed="true"
            icon="icons/product/startup_16_32.png"
            id="com.amenity.workbench.perspective"
            name="Amenity for SWQPM">
         <description>
            This is the default view for SWPQM
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.amenity.workbench.views.SideBar"
            icon="icons/workbench/general/System start menu.png"
            id="com.amenity.workbench.view"
            name="Modules">
      </view>
      <view
            class="com.amenity.workbench.views.StartupView"
            icon="icons/workbench/general/package_network.png"
            id="com.amenity.workbench.views.StartupView"
            name="Startup View">
      </view>
      <view
            class="com.amenity.workbench.views.ContainerView"
            icon="icons/workbench/general/drive-harddisk.png"
            id="com.amenity.workbench.views.ContainerView"
            name="Manage Container">
      </view>
      <view
            class="com.amenity.workbench.views.SnapshotView"
            icon="icons/workbench/general/gnome-dev-computer.png"
            id="com.amenity.workbench.views.SnapshotView"
            name="Show Snapshot">
      </view>
      <view
            class="com.amenity.workbench.views.CompareSnapshotsView"
            icon="icons/workbench/general/gnome-searchtool.png"
            id="com.amenity.workbench.views.CompareSnapshotsView"
            name="Compare Snapshots"
            restorable="true">
      </view>
      <view
            class="com.amenity.workbench.views.AssignFunctionsView"
            icon="icons/workbench/general/bookmark_add.png"
            id="com.amenity.workbench.views.AssignFunctionsView"
            name="Assign Functions"
            restorable="true">
      </view>
      <view
            class="com.amenity.workbench.views.SetStatsView"
            icon="icons/workbench/general/up.png"
            id="com.amenity.workbench.views.SetStatsView"
            name="Set Status"
            restorable="true">
      </view>
      <view
            class="com.amenity.workbench.views.EventLogView"
            icon="icons/workbench/general/dialog-warning.png"
            id="com.amenity.workbench.views.EventLogView"
            name="Event Log"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="com.amenity.workbench.view"
               minimized="false"
               ratio=".2f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true"
               visible="true">
         </view>
         <view
               id="com.amenity.workbench.views.StartupView"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="com.amenity.workbench.views.ContainerView"
               minimized="false"
               relationship="stack"
               relative="com.amenity.workbench.views.StartupView">
         </view>
         <view
               id="com.amenity.workbench.views.SnapshotView"
               minimized="false"
               relationship="stack"
               relative="com.amenity.workbench.views.StartupView">
         </view>
         <view
               id="com.amenity.workbench.views.CompareSnapshotsView"
               minimized="false"
               relationship="stack"
               relative="com.amenity.workbench.views.StartupView">
         </view>
         <view
               id="com.amenity.workbench.views.AssignFunctionsView"
               minimized="false"
               relationship="stack"
               relative="com.amenity.workbench.views.StartupView">
         </view>
         <view
               id="com.amenity.workbench.views.SetStatsView"
               minimized="false"
               relationship="stack"
               relative="com.amenity.workbench.views.StartupView">
         </view>
         <view
               id="com.amenity.workbench.views.EventLogView"
               minimized="false"
               relationship="stack"
               relative="com.amenity.workbench.views.StartupView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               mnemonic="F">
            <command
                  commandId="com.amenity.workbench.temp.Logon"
                  icon="icons/workbench/general/lock.png"
                  label="&amp;Logon"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="icons/workbench/general/advanced.png">
               <visibleWhen>
                  <with
                        variable="com.amenity.workbench.sessionState">
                     <equals
                           value="loggedIn">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/workbench/general/exit.png"
                  label="&amp;Exit">
            </command>
         </menu>
         <menu
               label="&amp;Edit">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="icons/workbench/general/advanced.png"
                  label="Settings"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/workbench/general/exit.png"
                  label="&amp;Exit">
            </command>
         </menu>
         <menu
               label="&amp;View">
            <command
                  commandId="com.amenity.workbench.views.activities.ShowStartupView"
                  icon="icons/workbench/general/System start menu.png"
                  label="&amp;Sidebar"
                  style="push">
            </command>
            <command
                  commandId="com.amenity.workbench.views.activities.WorkbenchView"
                  icon="icons/workbench/general/package_network.png"
                  label="&amp;Startup"
                  style="push">
            </command>
            <command
                  commandId="com.amenity.workbench.views.activities.showContainerView"
                  icon="icons/workbench/general/drive-harddisk.png"
                  label="&amp;Manage Container"
                  style="push">
            </command>
            <command
                  commandId="com.amenity.workbench.views.activities.ShowSnapshotView"
                  icon="icons/workbench/general/gnome-dev-computer.png"
                  label="&amp;Show Snapshot"
                  style="push">
            </command>
            <command
                  commandId="com.amenity.workbench.views.activities.ShowCompareSnapshotsView"
                  icon="icons/workbench/general/gnome-searchtool.png"
                  label="&amp;Compare Snapshots"
                  style="push">
            </command>
            <command
                  commandId="com.amenity.workbench.views.activities.ShowAssignFunctionsView"
                  icon="icons/workbench/general/bookmark_add.png"
                  label="&amp;Assign Functions"
                  style="push">
            </command>
            <command
                  commandId="com.amenity.workbench.views.activities.ShowSetStatsView"
                  icon="icons/workbench/general/up.png"
                  label="&amp;Set Status"
                  style="push">
            </command>
            <command
                  commandId="com.amenity.workbench.views.activities.ShowEventLogView"
                  icon="icons/workbench/general/dialog-warning.png"
                  label="&amp;Event Log"
                  style="push">
            </command>
         </menu>
         <menu
               label="&amp;Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/workbench/general/utilities-system-monitor.png"
                  label="&amp;About Amenity"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="Main">
            <command
                  commandId="com.amenity.workbench.wizard.newDataSoure"
                  icon="icons/workbench/general/filenew.png"
                  label="&amp;New Project"
                  style="push"
                  tooltip="&amp;Create a new DS connection here">
            </command>
            <command
                  commandId="com.amenity.workbench.views.activities.showContainerView"
                  icon="icons/workbench/general/folder_new.png"
                  label="&amp;Add Container"
                  style="push">
            </command>
            <command
                  commandId="com.amenity.workbench.wizard.SnapshotWizardCommand"
                  icon="icons/workbench/general/gnome-dev-computer.png"
                  label="&amp;Add Snapshot"
                  style="push">
            </command>
            <command
                  commandId="com.amenity.workbench.temp.Dao"
                  icon="icons/workbench/general/dialog-warning.png"
                  label="&amp;DAO Test"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/workbench/general/exit.png"
                  label="&amp;Exit"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.amenity.workbench.wizards.addProjectSource.NewDataSoure"
            id="com.amenity.workbench.wizard.newDataSoure"
            name="ProjectWizard">
      </command>
      <command
            defaultHandler="com.amenity.workbench.views.activities.ShowContainerView"
            id="com.amenity.workbench.views.activities.showContainerView"
            name="showContainerView">
      </command>
      <command
            defaultHandler="com.amenity.workbench.views.activities.WorkbenchView"
            id="com.amenity.workbench.views.activities.WorkbenchView"
            name="WorkbenchView">
      </command>
      <command
            defaultHandler="com.amenity.workbench.views.activities.ShowStartupView"
            id="com.amenity.workbench.views.activities.ShowStartupView"
            name="showStartupView">
      </command>
      <command
            defaultHandler="com.amenity.workbench.views.activities.ShowCompareSnapshotsView"
            id="com.amenity.workbench.views.activities.ShowCompareSnapshotsView"
            name="ShowCompareSnapshotsView">
      </command>
      <command
            defaultHandler="com.amenity.workbench.views.activities.ShowAssignFunctionsView"
            id="com.amenity.workbench.views.activities.ShowAssignFunctionsView"
            name="ShowAssignFunctionsView">
      </command>
      <command
            defaultHandler="com.amenity.workbench.views.activities.ShowSetStatsView"
            id="com.amenity.workbench.views.activities.ShowSetStatsView"
            name="ShowSetStatsView">
      </command>
      <command
            defaultHandler="com.amenity.workbench.views.activities.ShowEventLogView"
            id="com.amenity.workbench.views.activities.ShowEventLogView"
            name="ShowEventLogView">
      </command>
      <command
            defaultHandler="com.amenity.workbench.views.activities.ShowModulesView"
            id="com.amenity.workbench.views.activities.ShowModulesView"
            name="ShowModulesView">
      </command>
      <command
            defaultHandler="com.amenity.workbench.views.activities.ShowSnapshotView"
            id="com.amenity.workbench.views.activities.ShowSnapshotView"
            name="ShowSnapshotView">
      </command>
      <command
            id="org.eclipse.ui.window.preferences"
            name="Settings">
      </command>
      <command
            defaultHandler="com.amenity.workbench.temp.Dao"
            id="com.amenity.workbench.temp.Dao"
            name="Dao">
      </command>
      <command
            defaultHandler="com.amenity.workbench.temp.Logon"
            id="com.amenity.workbench.temp.Logon"
            name="&amp;Logon">
      </command>
      <command
            defaultHandler="com.amenity.workbench.wizards.addSnapshot.SnapshotWizardCommand"
            id="com.amenity.workbench.wizard.SnapshotWizardCommand"
            name="SnapshotWizardCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.amenity.workbench.application"
            name="I BS Q - Amenity">
         <property
               name="appName"
               value="I BS Q - Amenity">
         </property>
         <property
               name="windowImages"
               value="icons/product/startup_16_32.png,icons/product/startup_32_32.png,icons/product/startup_48_32.png,icons/product/startup_64_32.png,icons/product/startup_128_32.png">
         </property>
         <property
               name="aboutText"
               value="Amenity based on Eclipse Platform&#x0A;&#x0A;Version: 0.1.1&#x0A;Build id: M20120119-1422&#x0A;&#x0A;Welcome to Amenity based on Eclipse Rich Client Platform.&#x0A;&#x0A;This product is developed by Continental&#x0A;(c) Copyright by authors. All rights reserved">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.amenity.workbench.preferencepage.SettingsPage1"
            id="com.amenity.workbench.preferencepage.SettingsPage1"
            name="Database Settings">
      </page>
      <page
            class="com.amenity.workbench.preferencepage.SettingsPage2"
            id="com.amenity.workbench.preferencepage.SettingsPage2"
            name="Data Source">
      </page>
      <page
            class="com.amenity.workbench.preferencepage.SettingsPage3"
            id="com.amenity.workbench.preferencepage.SettingsPage3"
            name="Test Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.amenity.workbench.SessionSourceProvider">
         <variable
               name="com.amenity.workbench.sessionState"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
